
.navbar{
  list-style: none;
  display: flex;
}
.navbar li{
  margin: 0 20px 0 0;
  font-size: 20px;
}
.navbar li a{
  text-decoration: none;
  color: lightblue;
  transition: 0.5s;
}
.navbar li a:hover{
  color: lightsalmon;
}
.list{
  list-style: none;
}
.list li{
  margin-top: 10px;
}
.list li a{
  text-decoration: none;
  transition: 0.5s;
}
.list li a:hover{
  color: orange;
}
button{
  margin-left: 40px;
  background: none;
  border: 3px solid yellow;
  color: blue;
  font-size: 20px;
  border-radius: 20px;
  padding: 6px 10px 6px 10px;
 
}
.post{
  padding-left: 20px;
}
button:focus{
  outline: none;
  user-select: none;
}